/.vscode
notsogoodideas.md
.gitignore
Docs
apps/nfsmw05hud/styles.lua
apps/nfsmw05hud/fonts/7SEG.ttf
apps/nfsmw05hud/fonts/cat.ttf
apps/nfsmw05hud/fonts/Eurostile Bold.ttf
apps/nfsmw05hud/ico/mirror.dds
apps/nfsmw05hud/ico/settings.dds
apps/nfsmw05hud/ico/tach.dds
apps/nfsmw05hud/img/debug.png
apps/nfsmw05hud/img/HUD0/7000.dds
apps/nfsmw05hud/img/HUD0/8000.dds
apps/nfsmw05hud/img/HUD0/9000.dds
apps/nfsmw05hud/img/HUD0/10000.dds
apps/nfsmw05hud/img/HUD0/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD0/TACH.dds
apps/nfsmw05hud/img/HUD1/7000.dds
apps/nfsmw05hud/img/HUD1/8000.dds
apps/nfsmw05hud/img/HUD1/9000.dds
apps/nfsmw05hud/img/HUD1/10000.dds
apps/nfsmw05hud/img/HUD1/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD1/TACH.dds
apps/nfsmw05hud/img/HUD10/7000.dds
apps/nfsmw05hud/img/HUD10/8000.dds
apps/nfsmw05hud/img/HUD10/9000.dds
apps/nfsmw05hud/img/HUD10/10000.dds
apps/nfsmw05hud/img/HUD10/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD10/TACH.dds
apps/nfsmw05hud/img/HUD2/7000.dds
apps/nfsmw05hud/img/HUD2/8000.dds
apps/nfsmw05hud/img/HUD2/9000.dds
apps/nfsmw05hud/img/HUD2/10000.dds
apps/nfsmw05hud/img/HUD2/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD2/TACH.dds
apps/nfsmw05hud/img/HUD3/7000.dds
apps/nfsmw05hud/img/HUD3/8000.dds
apps/nfsmw05hud/img/HUD3/9000.dds
apps/nfsmw05hud/img/HUD3/10000.dds
apps/nfsmw05hud/img/HUD3/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD3/TACH.dds
apps/nfsmw05hud/img/HUD4/7000.dds
apps/nfsmw05hud/img/HUD4/8000.dds
apps/nfsmw05hud/img/HUD4/9000.dds
apps/nfsmw05hud/img/HUD4/10000.dds
apps/nfsmw05hud/img/HUD4/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD4/TACH.dds
apps/nfsmw05hud/img/HUD5/7000.dds
apps/nfsmw05hud/img/HUD5/8000.dds
apps/nfsmw05hud/img/HUD5/9000.dds
apps/nfsmw05hud/img/HUD5/10000.dds
apps/nfsmw05hud/img/HUD5/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD5/TACH.dds
apps/nfsmw05hud/img/HUD6/7000.dds
apps/nfsmw05hud/img/HUD6/8000.dds
apps/nfsmw05hud/img/HUD6/9000.dds
apps/nfsmw05hud/img/HUD6/10000.dds
apps/nfsmw05hud/img/HUD6/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD6/TACH.dds
apps/nfsmw05hud/img/HUD7/7000.dds
apps/nfsmw05hud/img/HUD7/8000.dds
apps/nfsmw05hud/img/HUD7/9000.dds
apps/nfsmw05hud/img/HUD7/10000.dds
apps/nfsmw05hud/img/HUD7/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD7/TACH.dds
apps/nfsmw05hud/img/HUD8/7000.dds
apps/nfsmw05hud/img/HUD8/8000.dds
apps/nfsmw05hud/img/HUD8/9000.dds
apps/nfsmw05hud/img/HUD8/10000.dds
apps/nfsmw05hud/img/HUD8/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD8/TACH.dds
apps/nfsmw05hud/img/HUD9/7000.dds
apps/nfsmw05hud/img/HUD9/8000.dds
apps/nfsmw05hud/img/HUD9/9000.dds
apps/nfsmw05hud/img/HUD9/10000.dds
apps/nfsmw05hud/img/HUD9/TACH_NEEDLE.dds
apps/nfsmw05hud/img/HUD9/TACH.dds
apps/nfsmw05hud/img/cat/NEEDLE.dds
apps/nfsmw05hud/img/cat/RPMLINES.dds
apps/nfsmw05hud/img/cat/TACHFILL.dds
apps/nfsmw05hud/img/cat/TURBOFILL.dds
apps/nfsmw05hud/img/cat/TURBOLINES.dds
apps/nfsmw05hud/img/cat/TURBONEEDLE.dds
apps/nfsmw05hud/img/misc/METER.dds
apps/nfsmw05hud/img/misc/MIRROR.dds
apps/nfsmw05hud/img/misc/MIRROR2.dds
apps/nfsmw05hud/img/misc/MIRROR3.dds
apps/nfsmw05hud/img/misc/N20_ICON.dds
apps/nfsmw05hud/img/misc/PERSUIT_ICON.dds
apps/nfsmw05hud/img/misc/POSITION_BACKING.dds
apps/nfsmw05hud/img/misc/REDLINE_MASK.dds
apps/nfsmw05hud/img/misc/REDLINE.dds
apps/nfsmw05hud/img/misc/SHIFT_UP_ICON.dds
apps/nfsmw05hud/img/misc/TIME_BACKING.dds
apps/nfsmw05hud/img/misc/TURBO_NEEDLE.dds
apps/nfsmw05hud/img/misc/TURBO.dds
